* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.header {
    background-image: url('./img/hero.jpg');
    background-size: cover;

    height: 100vh;
    overflow: hidden;
    padding: 8px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}


nav {
    /* position: fixed;
    z-index: 99; */
    width: 100%;

    background: #242526;
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #3A3B3C;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #242526;
    /* width: 180px; */
    line-height: 45px;
    top: 85px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

ul {
    margin-bottom: 0px;
}

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #242526;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #242526;
    }

    ::-webkit-scrollbar-thumb {
        background: #3A3B3C;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: #3A3B3C;
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 19px;
    }
}

nav input {
    display: none;
}

@media screen and (max-width:600px) {


    .environment {
        background-image: url('./img/env.png');
        background-size: cover;
        /* background-attachment: fixed; */
        /* background-position; */
        /* min-height: 10vh; */
        color: #fff;
    }


}

.btn {
    margin-left: 15px;
}

.main_box {
    padding: 12px;
    height: 90vh;

}

.main_box h1 {

    margin-top: 25vh;
    font-size: 55px;
}

.main_box p {
    margin-top: 10px;
}

.btns {
    margin-top: 20px;
}

.c_btn {
    padding: 11px;
    background-color: #06A7C3;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
}
.c_btn3 {
    padding: 11px;
    background-color: #729bf5;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
}
.c_btn2 {
    /* padding: 9px; */
    background-color: #06A7C3;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 20px;
 
   width: 100%;
}

.campaign_box {
    /* height: 100vh; */

    padding: 12px;
}

.c_testimonial {
    margin: 20px;
    /* justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.campaign_box h1 {
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
}

.campaign_box h5 {
    font-size: 20px;
}

.c_box img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: black;
}

.main_test {
    display: flex;
    justify-content: center;

}



.envcamp_left {
    width: 50%;
}

.medical {
    height: 100vh;
    padding: 20px;
    /* background-image: url('/img/camp2.jpg');
    background-size: cover; */
}

.m_camp {
    margin-top: 40px;
    display: flex;

}



.mcamp_left h1 {
    font-size: 40px;
    margin-bottom: 20px;
}



.icons {
    display: flex;
    /* padding:4px; */
    margin: auto;
}

.c_icons {
    margin-top: 70px;
}

.c_icon1 {
    display: flex;
}

.c_icon2 {
    margin-top: 20px;
    display: flex;
}

.icons p {
    margin: top 12px;
    ;
}

.m_btn {
    /* margin-top: 50px; */
}

.environment {
    background-image: url('./img/env.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    color: #fff;
}

.env_camp {
    padding: 40px;
}



.f_camp {
    padding: 50px;
}

.f_right {
    padding: 10px;
    /* margin: auto; */
}

.hamburger {
    display: inline;
}


.help {
    background-color: #729bf5;
    display: flex;
    height: 95vh;
    width: 100%;
}

.help_left {
    width: 50%;
    height: 100%;
}

.help_right {
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.box {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 5vh;
    align-items: center;
}

.help_right {
    padding: 25px;
}

.nav-links li {
    list-style: none;
}

option {
    width: 50%;
}

.heading{
   display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hr{
    width: 54px;
    height: 2px;
    background-color: black;
}
.g_camp{
    height: 100vh;
    width: 100%;
}
.group4{
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: #23242F;
}






         /* medical.html */

.box1{
    width: 50%;
    /* height: 5%; */
    /* border: 2px solid black; */
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}
.box1 h5{
    margin-left: 12px;
}
.t_box{
    display: flex;
    width: 50%;
}